.main {
    font-size: 1.8rem;
    color: $main-font-color;

    @media (max-width: 780px) {
        background-image: url("/img/bg_mobile.png");
        background-size: cover;
        padding: 5.4em 1.8em 2.45em 0.78em;
    }

    @media (min-width: 780px) {
        display: grid;
        grid-template-columns: 1fr 25.13% 32.86% 31rem 1fr;
        padding-bottom: 3.83em;
    }
}

.main__promo {
    margin-bottom: 1.3em;
}

.main__promo {
    @media (min-width: 780px) {
        grid-column: 2/3;
    }
}

.main__consult {
    @media (min-width: 780px) {
        grid-column: 4/5;
    }
}