.main {
    padding: 5.4em 1.8em 2.45em 0.78em;
    background-image: url("/img/bg_mobile.png");
    background-size: cover;
    font-size: 1.8rem;
    color: $main-font-color;
}

.main__promo {
    margin-bottom: 1.3em;
}
