.header__contacts {
    @media (min-width: 780px) {
        grid-column-start: 5;
        grid-column-end: 6;
    }
}

.header-data.data {
    @media (min-width: 780px) {
        display: flex;
        padding-top: 3px;
    }
}

.header-data .soc {
    @media (min-width: 780px) {
        padding: 0;
    }
}

.header-data .soc .soc__item {
    @media (min-width: 780px) {
        align-self: flex-start;
        width: 1.25em;
        height: 1.25em;
        margin-right: 0;
    }
}

.header-data .data__tel{
    @media (min-width: 780px) {
        display: block;
        margin-right: 2.9375em;
    }
}

.header-data .soc {
    gap: 1.875em;
}