.header {
    font-size: 1.2rem;
    color: $main-font-color;

    @media (max-width: 780px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 90%;
        padding: 1.667em 1.333em;
        background-color: $bg_page;
    }

    @media (min-width: 780px) {
        display: grid;
        font-size: 1.6em;
        grid-template-columns: 1fr 13.68% 35.14% 9.17% 31rem 1fr;
        padding-top: 2.875em;
    }
}

.menu__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: 780px) {
        text-transform: uppercase;
    }

    @media (min-width: 780px) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    @media (min-width: 321px) and (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }
}

