.header__logo.logo {
    @media (min-width: 779px) {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-right: 3.35em;
    }
}

.logo__info {
    padding-top: 0.625em;
    font-family: $second-font;
    font-size: 1rem;
    font-weight: $font-light;
}