.tel {
    font-size: 1.143em;
}

.data__list.soc {
    @media (min-width: 780px) {
        display: flex;
    }
}

.soc__item {
    align-self: center;
    margin-right: 0.714em;
}

.data__item {
    margin-bottom: 0.5em;
}

.data__list {
    padding-left: 0.2em;
    gap: 0.2em;
}

.footer__contacts.contacts {
    @media (min-width: 780px) {
        text-align: end;
    }
}

.footer__contacts.contacts .data .soc .soc__item:first-child {
    margin-left: auto;
}