.footer__copyright,
.footer__confidentials {
    font-family: $second-font;
    font-size: 0.85em;
}

.footer__copyright {
    margin-bottom: 0.7em;
}

.footer__confidentials {
    text-decoration: underline;
}