//fonts
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap';

//fonts
$main-font: "Inter", sans-serif;
$second-font: "Montserrat", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-extra-bold: 900;

//font-color
$main-font-color: #E4E5EA;
$footer-title: #656566;

//bg
$bg_page: #0E1014;